<p>メモの削除</p>

<% @detail_memos.map do |memo| %>
<% if memo.has_value?(@path) %>
    <p>【タイトル】<br/><%= memo["title"] %></p>
    <p>【本文】<br/><%= memo["body"].gsub(/\n/, '<br/>') %></p>
<% end %>
<% end %>

<div><%= @content %></div>

<form method="post" action="/delete/<%= @path %>">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">削除</button>
</form>