
<% @detail_memos.map do |memo| %>
<% if memo.has_value?(@path) %>
    <p>【タイトル】<br/><%= memo["title"] %></p>
    <p>【本文】<br/><%= memo["body"] %></p>
<% end %>
<% end %>

<button><a href="/edit">編集</a></button>
<button><a href="/edit">削除</a></button>
