<button class="font-semibold text-white absolute top-8 right-10"><a class="bg-indigo-700 block py-2 px-4 rounded" href="/memos/new">メモを追加</a></button>

<ul class="block mt-12 pt-4 border-t-2 border-gray-400">

<% @memos.each do |memo| %>
  <li><a class="block mb-4 pb-4 border-b border-gray-400" href='/memos/<%= memo['id'] %>'><%= h(memo['title']) %></a></li>
<% end %>

</ul>
