<div><%= @content %></div>

<button><a href="/new">新規作成</a></button>

<br/>
<br/>

<ul>
<% @memo_titles.zip(@memo_ids) do |title, id| %>
  <li><a href='/detail/<%= id %>'><%= title %></a></li>
<% end %>
</ul>
