<p class="mb-4">メモを追加</p>

<form class="" method="post" action="/detail">
  <input class="w-full mb-4 p-4 shadow-inner" type="text" name="memo_title" placeholder="タイトル" required><br/>
  <textarea class="w-full h-48 mb-4 p-4 shadow-inner" name="memo_text" placeholder="本文" required></textarea><br/>
  <input class="bg-indigo-700 font-semibold text-white py-2 px-4 rounded" type="submit" value="保存">
</form>
