<p>メモを追加</p>

<form method="post" action="/detail">
  <input type="text" name="memo_title" placeholder="タイトル" required><br/>
  <textarea name="memo_text" placeholder="本文" required></textarea><br/>
  <input type="submit" value="保存">
</form>
